<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/292dac7a-0b09-47c2-9fb7-c303c76c63f6/resourceGroups/DefaultResourceGroup-CAU/providers/Microsoft.ApiManagement/service/BancolombiaStarterBackendApiManager/apis/BancolombiaStarterBackendApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/292dac7a-0b09-47c2-9fb7-c303c76c63f6/resourceGroups/BancolombiaStartertTest/providers/Microsoft.Web/sites/BancolombiaStarterBackendApi</ResourceId>
    <ResourceGroup>BancolombiaStartertTest</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bancolombiastarterbackendapi-ffdwf7ghh4chdvef.australiacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>94e05a99-dbb2-4872-9be8-3afe3a69bb4e</ProjectGuid>
    <PublishUrl>https://bancolombiastarterbackendapi-ffdwf7ghh4chdvef.scm.australiacentral-01.azurewebsites.net/</PublishUrl>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>